body {
    font-family: 'Muli', sans-serif;
}

#city_country {
    padding: 1px 4px;
    font-family: 'Muli', sans-serif;
    
}

#button {
    font-size: 13px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    background-color: #000000;
    opacity: 0.8;
    font-family: 'Muli', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

#maparea {
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0%;
    position: absolute;
    opacity: 1;
    z-index: 0;
    font-family: 'Muli', sans-serif;
    
}
#infoPanel {
    width: 17%;
    height: 80%;
    left: 7%;
    top: 8%;
    font-size: 13px;
    float: left;
    position: absolute;
    color: #000000;
    font-family: 'Muli', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}
